<launch>
    <node name="normal_estimation" type="tof_normal_estimation_node"
          pkg="tof_normal_estimation" output="screen">
        <remap from="pointcloud" to="/kea/rgbd/camera_depth/depth/points"/>
        <param name="q_E_C" value="[0.0, 0.0,  0.0,  1.0]" type="yaml"/>
        <param name="p_E_C" value="[0.0, 0.0, 0.0]"
               type="yaml"/> <!-- added length of tool, 0.105, assuming same rotation -->
        <param name="min_points" value="10"/>
        <param name="selection_radius" value="0.1"/>
        <param name="output_frame_name" value="kea/base_link"/>
        <param name="input_frame_name" value="kea/rgbd/camera_depth_optical_center_link"/>
        <param name="end_effector_frame_name" value="end_effector"/>

        <param name="averaging_method" value="simple"/>
        <param name="weighting_method" value="uniform"/>
        <param name="normal_method" value="planeSVD"/>

    </node>

</launch>
